

:root{
    --text-black: black;
    --nav-text: white;
    --section: black;
    --text-purple: rgba(90, 0, 128, 0.849);
    --btn-primary-purple: rgba(90, 0, 128, 0.849);
    --bg-grey: white;
    --card-p: gray;
    --icon-html: #E44D26;
    --icon-css:#2062AF;
    --icon-Js: #F7DF1E;
    --icon-text: black; 
}

header{
    position: relative;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    background-color: var(--section);
    margin-bottom: 20px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    display: block;
    font-size: 32px;
    font-weight: 400;
    text-decoration: none;
    color: var(--nav-text);
}
nav a:hover{
    text-decoration: none;
    color: var(--text-purple);
}

section{
    position: relative;
    display: flex;
    background-image: var(--bg-grey);
    text-align: center;
    flex-direction: column;
}

section h1{
    color: var(--text-purple);
}

#sobreMim p{
    font-size: 28px;
}
section h2{
    margin: 40px 0;
    color: var(--text-purple);
    font-size: 30px;
    font-weight: 400;
}

section p{
    font-size: 20px;
    font-weight: 200px;
    color: var(--text-white);
}

section a, a:hover{
    text-decoration: none;
}

section a:hover{
    color: var(--text-purple);
}

#skills{
    display: flex;
    max-width: 1200px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    
}
.icones{
    width: 100px;
    height: 100px;
    margin: 10px 15px;
}

#imagemPortifolio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
#Portifolio-content{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    min-width: 300px;
}
.portifolio-card{
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    width: 550px;
    height: 420px;
    margin: 10px 10px;
    background-color: black;
}
.portifolio-card img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.portifolio-skills{
    margin-top: 10px;
    display: inline-flex;
    align-content: center;
    justify-content: space-around;
}
.portifolio-card a{
    color: var();
    height: 40px;
    background-color: gray;
}
.icon{
    border: solid var(--icon-text) 1.5px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    color: var(--icon-text);
}
.icon-html{
    background-color: var(--icon-html);
}
.icon-css{
    background-color: var(--icon-css)
}
.icon-js{
    background-color: var(--icon-Js);  
}

#imagemPortifolio img{
    border-radius: 5px 5px 0 0;
    width: 100%;
}
#imagemPortifolio a{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 5px 50px;
}

#sobreMim img{
    width: 300px;
    border-radius: 60%;
    overflow: hidden;
    position: relative;
}

.topicos{
    background-color: var(--bg-grey);
    border: var(--section) 2px;
}

.icones img{
    width: 60px;
    height: 60px;
}
#content_certificados{
    display: flex;
    justify-content: center;
    align-items: center;
}
#certificados button{
    background-color: purple !important;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}
#card_certificados{
    margin: 0px 100px;
}
#card_certificados img{
 width: 700px;
 height: 400px;
    opacity: 1;
 transition: opacity 800ms;
}
#linksContatos{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 35px;
}
.contatoLink img{
    width: 60px;
    height: 60px;
}


.btn-primary{
    background-color: var(--btn-primary-purple)  !important;
    border: var(--text-white) !important;
}
.btn-primary:hover{
    background-color: var(--text-white) !important;
    color: var(--section) !important;
}
